:root {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

#root > nav {
  width: 350px;
  flex: none;
  background-color: #252734;
  color: #e2e5ec;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  scrollbar-color: #515571 #15161e;
  padding: 10px;
}

#root > nav > h2 {
  position: sticky;
  top: -10px;
  left: 0;
  margin: -10px -10px 10px;
  padding: 10px;
  font-size: 30px;
  line-height: 30px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  display: block;
  background-color: #15161e;
}

#root > nav > h2 > a {
  color: #e2e5ec;
  text-decoration: none;
}

#root > main {
  background-color: #e3e6ed;
  color: #1d1f2a;
  flex: auto;
  overflow: hidden;
}

#root > main > p {
  margin: 20px;
}

#root > main > .status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  height: 30px;
  margin: 0;
  padding: 0;
  line-height: 30px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.input-title {
  font-size: 15px;
  margin: 10px 0 2px;
}

.input-title.hide-wrap > .title {
  height: 20px;
  padding: 4px 0;
}

.tab {
  margin-left: 10px;
}

.hide-wrap {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -10px;
}

.hide-wrap > * {
  flex: auto;
}

select,
input[type=number],
input[type=text] {
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 5px;
  border: 0;
  font-family: monospace;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

input.error {
  background-color: #e77;
}

button {
  font-size: 18px;
  line-height: 20px;
  min-height: 20px;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #999;
  background-color: #eee;
  cursor: pointer;
  user-select: none;
}

button:not(:disabled):hover {
  background-color: #ddd;
  border-color: #888;
}

button:not(:disabled):active {
  background-color: #eee;
  transform: translateY(2px);
}

nav button {
  border: none;
}

.elements-item {
  border-bottom: 1px dotted #e2e5ec44;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.elements-remove {
  display: inline-block;
  background-color: transparent;
  font-weight: bold;
  color: #e2e5ec;
  font-size: 15px;
  line-height: 0;
  width: 20px;
  height: 20px;
  min-height: unset;
  padding: 3px 4px 5px;
  margin-left: -5px;
}

.elements-remove:not(:disabled):hover {
  background-color: #e2e5ec33;
}

.elements-remove:not(:disabled):active {
  background-color: #e2e5ec55;
  transform: translateY(2px);
}

.hide-button {
  flex: none;
  background-color: transparent;
  border: none;
  color: #e2e5ec;
  width: 30px;
}

.hide-button:not(:disabled):hover {
  background-color: transparent;
  border: none;
  color: #e2e5ec;
}

.hide-button:not(:disabled):active {
  transform: none;
}
