:root {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 400;
  color: #222;
  background-color: #def;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
